# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.sqlite3
*.db

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# Fichiers sensibles
.env
.env.*
.secret_key

# Render
*.pid
*.pid.lock
